body{
    background-color: orange;
}


.oscuro {
    background-color: black;
    color: orange;
   
}

.imgProducts1 {
    height: 750px;
    object-fit: cover;
}

.imgProducts {
    margin: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tamanoCard {
    font-size: 20px; 
}

.tamanoFuente{
    font-size: 30px;
    font-style: bold;
}
  